In [1]:
import numpy as np

GKNames = ["Buerki","Hitz","Oelschlaegel","Unbehaun"]
GKHeights = [187,193,193,186]
GKWeights = [85,86,87,82]

print(np.array(GKNames))

['Buerki' 'Hitz' 'Oelschlaegel' 'Unbehaun']

In [2]:
GKMatrix = [GKNames, GKHeights, GKWeights]
print(np.array(GKMatrix))

[['Buerki' 'Hitz' 'Oelschlaegel' 'Unbehaun']
 ['187' '193' '193' '186']
 ['85' '86' '87' '82']]

In [4]:
np.array(GKNames)
GKHeights = np.array(GKHeights)
GKHeights.max()

193

In [5]:
GKHeights.argmax()

1

In [7]:
GKNames[GKHeights.argmax()]

'Hitz'

In [9]:
import pandas as pd

df = pd.read_csv("Data Store/Refs.csv")

df.head()

         Date        HomeTeam    AwayTeam     Referee  HF  ...  AY  TY  HR  AR  TR
0  13/08/2016         Burnley     Swansea      J Moss  10  ...   2   5   0   0   0
1  13/08/2016  Crystal Palace   West Brom    C Pawson  12  ...   2   4   0   0   0
2  13/08/2016         Everton   Tottenham  M Atkinson  10  ...   0   0   0   0   0
3  13/08/2016            Hull   Leicester      M Dean   8  ...   2   4   0   0   0
4  13/08/2016        Man City  Sunderland    R Madley  11  ...   2   3   0   0   0

[5 rows x 13 columns]

In [11]:
df.columns = ['Date','HomeTeam','AwayTeam','Referee',"HomeFouls",'AwayFouls','TotalFouls','HomeYellows','AwayYellows','TotalYellows','HomeReds','AwayReds', 'TotalReds']

df.head()

         Date        HomeTeam    AwayTeam  ... HomeReds  AwayReds  TotalReds
0  13/08/2016         Burnley     Swansea  ...        0         0          0
1  13/08/2016  Crystal Palace   West Brom  ...        0         0          0
2  13/08/2016         Everton   Tottenham  ...        0         0          0
3  13/08/2016            Hull   Leicester  ...        0         0          0
4  13/08/2016        Man City  Sunderland  ...        0         0          0

[5 rows x 13 columns]

In [12]:
df.describe()

        HomeFouls   AwayFouls  TotalFouls  ...    HomeReds    AwayReds   TotalReds
count  380.000000  380.000000  380.000000  ...  380.000000  380.000000  380.000000
mean    11.063158   11.657895   22.721053  ...    0.055263    0.052632    0.107895
std      3.468853    3.556378    5.176166  ...    0.240050    0.223591    0.319037
min      2.000000    3.000000    5.000000  ...    0.000000    0.000000    0.000000
25%      9.000000    9.000000   19.000000  ...    0.000000    0.000000    0.000000
50%     11.000000   12.000000   23.000000  ...    0.000000    0.000000    0.000000
75%     13.000000   14.000000   25.000000  ...    0.000000    0.000000    0.000000
max     24.000000   24.000000   38.000000  ...    2.000000    1.000000    2.000000

[8 rows x 9 columns]

In [13]:
groupedRefs = df.groupby("Referee")
groupedRefs.head()

           Date        HomeTeam     AwayTeam  ... HomeReds  AwayReds  TotalReds
0    13/08/2016         Burnley      Swansea  ...        0         0          0
1    13/08/2016  Crystal Palace    West Brom  ...        0         0          0
2    13/08/2016         Everton    Tottenham  ...        0         0          0
3    13/08/2016            Hull    Leicester  ...        0         0          0
4    13/08/2016        Man City   Sunderland  ...        0         0          0
..          ...             ...          ...  ...      ...       ...        ...
308  08/04/2017       West Brom  Southampton  ...        0         0          0
336  29/04/2017           Stoke     West Ham  ...        0         0          0
357  13/05/2017     Bournemouth      Burnley  ...        0         0          0
374  21/05/2017       Leicester  Bournemouth  ...        0         0          0
377  21/05/2017     Southampton        Stoke  ...        0         0          0

[91 rows x 13 columns]

In [14]:
groupedRefs.describe()

              HomeFouls                             ... TotalReds
                  count       mean       std   min  ...       25%  50%   75%  max
Referee                                             ...
A Marriner         28.0  10.392857  3.832988   5.0  ...       0.0  0.0  0.00  1.0
A Taylor           30.0  12.300000  3.228643   5.0  ...       0.0  0.0  0.00  2.0
C Kavanagh          1.0  12.000000       NaN  12.0  ...       0.0  0.0  0.00  0.0
C Pawson           24.0  11.916667  4.373007   2.0  ...       0.0  0.0  0.00  1.0
G Scott             8.0  10.625000  3.248626   4.0  ...       0.0  0.0  0.25  1.0
J Moss             30.0  11.600000  3.499754   5.0  ...       0.0  0.0  0.00  1.0
K Friend           20.0  11.050000  3.940011   5.0  ...       0.0  0.0  0.00  1.0
L Mason            19.0  10.263158  3.380370   5.0  ...       0.0  0.0  0.00  1.0
L Probert           4.0  10.500000  3.000000   6.0  ...       0.0  0.0  0.00  0.0
M Atkinson         27.0   9.851852  2.506970   5.0  ...       0.0  0.0  0.00  1.0
M Clattenburg      22.0  11.090909  3.650298   5.0  ...       0.0  0.0  0.00  1.0
M Dean             30.0  10.400000  3.499754   4.0  ...       0.0  0.0  0.00  1.0
M Jones            18.0  12.722222  3.005985   8.0  ...       0.0  0.0  0.00  1.0
M Oliver           33.0  10.818182  3.106994   5.0  ...       0.0  0.0  0.00  1.0
N Swarbrick        24.0  10.125000  2.923852   5.0  ...       0.0  0.0  0.00  1.0
P Tierney          10.0  10.900000  3.178050   5.0  ...       0.0  0.0  0.00  1.0
R East             11.0  11.909091  3.477198   8.0  ...       0.0  0.0  0.00  1.0
R Madley           30.0  11.733333  3.814070   5.0  ...       0.0  0.0  0.00  1.0
S Attwell          10.0  10.100000  3.604010   3.0  ...       0.0  0.0  0.00  0.0
l Mason             1.0  11.000000       NaN  11.0  ...       0.0  0.0  0.00  0.0

[20 rows x 72 columns]

In [17]:
groupedRefs.describe()['TotalYellows']

               count      mean       std  min   25%  50%   75%   max
Referee
A Marriner      28.0  3.464286  2.081348  0.0  1.75  4.0  5.00   7.0
A Taylor        30.0  3.966667  1.973677  0.0  3.00  4.0  5.00   8.0
C Kavanagh       1.0  4.000000       NaN  4.0  4.00  4.0  4.00   4.0
C Pawson        24.0  3.916667  2.339020  0.0  2.75  3.5  5.00  11.0
G Scott          8.0  2.625000  1.187735  1.0  2.00  2.5  3.00   5.0
J Moss          30.0  3.966667  2.008316  1.0  2.25  4.0  5.00   9.0
K Friend        20.0  4.700000  2.154555  1.0  3.00  4.5  6.00   9.0
L Mason         19.0  3.526316  2.412201  0.0  2.00  3.0  5.50   8.0
L Probert        4.0  3.000000  2.449490  1.0  1.00  2.5  4.50   6.0
M Atkinson      27.0  3.222222  2.241794  0.0  1.50  3.0  4.50   8.0
M Clattenburg   22.0  3.272727  1.608958  0.0  2.00  3.0  4.00   6.0
M Dean          30.0  3.666667  1.768173  1.0  2.00  3.0  5.00   7.0
M Jones         18.0  3.388889  2.173067  0.0  2.00  4.0  4.75   8.0
M Oliver        33.0  3.333333  1.947220  0.0  2.00  3.0  5.00   7.0
N Swarbrick     24.0  3.708333  1.398109  1.0  3.00  4.0  5.00   6.0
P Tierney       10.0  2.900000  1.286684  1.0  2.00  3.0  3.00   5.0
R East          11.0  3.272727  1.902152  0.0  2.00  3.0  5.00   6.0
R Madley        30.0  4.133333  1.814374  1.0  3.00  4.0  5.75   8.0
S Attwell       10.0  3.000000  1.943651  0.0  2.00  2.5  3.75   7.0
l Mason          1.0  5.000000       NaN  5.0  5.00  5.0  5.00   5.0

In [18]:
df[df["TotalYellows"]==11]

           Date HomeTeam       AwayTeam  ... HomeReds  AwayReds  TotalReds
171  26/12/2016  Burnley  Middlesbrough  ...        0         0          0

[1 rows x 13 columns]

In [19]:
df[df["TotalFouls"]==38]

           Date HomeTeam AwayTeam  ... HomeReds  AwayReds  TotalReds
129  27/11/2016  Watford    Stoke  ...        1         0          1

[1 rows x 13 columns]

In [20]:
groupedRefs.describe()["TotalReds"]

               count      mean       std  min  25%  50%   75%  max
Referee
A Marriner      28.0  0.071429  0.262265  0.0  0.0  0.0  0.00  1.0
A Taylor        30.0  0.133333  0.434172  0.0  0.0  0.0  0.00  2.0
C Kavanagh       1.0  0.000000       NaN  0.0  0.0  0.0  0.00  0.0
C Pawson        24.0  0.166667  0.380693  0.0  0.0  0.0  0.00  1.0
G Scott          8.0  0.250000  0.462910  0.0  0.0  0.0  0.25  1.0
J Moss          30.0  0.100000  0.305129  0.0  0.0  0.0  0.00  1.0
K Friend        20.0  0.050000  0.223607  0.0  0.0  0.0  0.00  1.0
L Mason         19.0  0.157895  0.374634  0.0  0.0  0.0  0.00  1.0
L Probert        4.0  0.000000  0.000000  0.0  0.0  0.0  0.00  0.0
M Atkinson      27.0  0.111111  0.320256  0.0  0.0  0.0  0.00  1.0
M Clattenburg   22.0  0.136364  0.351250  0.0  0.0  0.0  0.00  1.0
M Dean          30.0  0.166667  0.379049  0.0  0.0  0.0  0.00  1.0
M Jones         18.0  0.055556  0.235702  0.0  0.0  0.0  0.00  1.0
M Oliver        33.0  0.090909  0.291937  0.0  0.0  0.0  0.00  1.0
N Swarbrick     24.0  0.041667  0.204124  0.0  0.0  0.0  0.00  1.0
P Tierney       10.0  0.200000  0.421637  0.0  0.0  0.0  0.00  1.0
R East          11.0  0.181818  0.404520  0.0  0.0  0.0  0.00  1.0
R Madley        30.0  0.066667  0.253708  0.0  0.0  0.0  0.00  1.0
S Attwell       10.0  0.000000  0.000000  0.0  0.0  0.0  0.00  0.0
l Mason          1.0  0.000000       NaN  0.0  0.0  0.0  0.00  0.0

In [21]:
df[df["TotalReds"]==2]

           Date  HomeTeam AwayTeam  ... HomeReds  AwayReds  TotalReds
131  03/12/2016  Man City  Chelsea  ...        2         0          2

[1 rows x 13 columns]